extends layout

block content
  br
  br
  br
  br
  .container
    h1(style="color:white;font-family: 'Billabong'") Edit Profile
    hr
    .row
      .col-md-3
        .text-center
          img.rounded-circle.img-fluid.d-block.mx-auto(src='img/bg-cta.jpg', alt='avatar')
          br
          h6(style='color:white') Upload a different photo:
          input#upload(type='file')
          a#uploadMyFile1.btn.btn-outline.btn-xl.js-scroll-trigger(href='') UPLOAD picture
          br
          br
      .col-md-9.personal-info
        .alert.alert-info.alert-dismissable
          a.panel-close.close(data-dismiss='alert') ×
          i.fa.fa-coffee
          |         This is an 
          strong .alert
          | . Use this to show important messages to the user.
        h3(style="color:white;font-family: 'Billabong'") Personal Information
          br
          br
          form.form-horizontal(role='form')
            .form-group(style='color:white')
              label.col-md-3.control-label Username:
              .col-md-8
                input.form-control(name='username',type='text', value='janeuser')
            .form-group(style='color:white')
              label.col-md-3.control-label Bio:
              .col-md-8
                input.form-control(name='bio',type='text', value='Add whatever you want to')
            .form-group(style='color:white')
              label.col-md-3.control-label Password:
              .col-md-8
                input.form-control(name='password',type='password', value='11111122333')
            .form-group(style='color:white')
              label.col-md-3.control-label Confirm password:
              .col-md-8
                input.form-control(name='password',type='password', value='11111122333')
            .form-group(style='color:white')
              label.col-md-3.control-label
              .col-md-8
                a.btn.btn-outline.btn-xl.js-scroll-trigger(href='#download') Save
                |  
                span
                a.btn.btn-outline.btn-xl.js-scroll-trigger(href='#download') Delete
                |  
                span
                a.btn.btn-outline.btn-xl.js-scroll-trigger(href='#download') Cancel
