extends layout

block content
  br
  br
  br
  br
  .container
      .row
        .col-md-8
          h1(style="font-family:'Billabong';color:white;") Stories
          .checkOverflow
            .changeFont
              -var index=0;
              each entry in story
                a(href='/profile', style="font-family:'Billabong';color:white;font-size: 30px")
                  p
                    img.storyImg(src=entry.img, display='inline')
                    |      
                    |                   
                    =entry.name
              -index++;
        .col-md-4
          h1(style="font-family:'Billabong';color:white;") What do to?
          br
          input#upload(type='file')
          a#uploadMyFile1.btn.btn-outline.btn-xl.js-scroll-trigger(href='') Upload Story
          br
          br
          input#uploadStory(type='file')
          a#uploadMyFile2.btn.btn-outline.btn-xl.js-scroll-trigger(href='') Upload Photo
          br
          br
          a.btn.btn-outline.btn-xl.js-scroll-trigger(href='/profile/edit') Edit Profile
          br
          br
          a.btn.btn-outline.btn-xl.js-scroll-trigger(href='/login') Sign Out
        
        br
        br
        br
       
        h1.my-4(style="font-family:'Billabong';color:white;") Feed
        .row
          -var index1=0;
          each entry in allUploads
            .col-md-3.col-sm-6.mb-4
              a(href='#')
                p(style="font-family:'Billabong';color:white;font-size: 27px") 
                  =entry.name
                img.img-fluid(src=entry.img, alt='')
          -index1++;