extends layout

block content
  br
  br
  br
  br
  .container
      .row
        .col-lg-12
          h1.my-4(style="color:white;font-family: 'Billabong'")
            b Following
        .col-lg-4.col-sm-6.text-center.mb-4
          a(style='color:white', href='#')
            img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
            h3(style="color:white;font-family: 'Billabong'")
              b John Smith
        .col-lg-4.col-sm-6.text-center.mb-4
          a(style='color:white', href='#')
            img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
            h3(style="color:white;font-family: 'Billabong'")
              b John Smith
        .col-lg-4.col-sm-6.text-center.mb-4
          a(style='color:white', href='#')
            img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
            h3(style="color:white;font-family: 'Billabong'")
              b John Smith
        .col-lg-4.col-sm-6.text-center.mb-4
          a(style='color:white', href='#')
            img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
            h3(style="color:white;font-family: 'Billabong'")
              b John Smith
        .col-lg-4.col-sm-6.text-center.mb-4
          a(style='color:white', href='#')
            img.rounded-circle.img-fluid.d-block.mx-auto(src='http://placehold.it/200x200', alt='')
            h3(style="color:white;font-family: 'Billabong'")
              b John Smith