extends layout

block content
  br
  br
  br
  br
  .container
    a(href='/profile' style="color:white")
      h1.my-4(style="color:white;font-family:'Billabong'")
        | meharfatima
      .row
        .col-md-8
          img.img-fluid(src='http://placehold.it/750x500', alt='')
          br
          br
        .col-md-4
          a(href='#likeIt')
            i.fa.fa-paper-plane(style='color:white;font-size:25px')
  .container
    br     