extends layout

block content
  br
  br
  br
  br
  .container
      h1.my-4(style="color:white;font-family:'Billabong'")
        | meharfatima
      .row
        .col-md-8
          img.img-fluid(src='http://placehold.it/750x500', alt='')
        .col-md-4
          h3.my-3(style="color:white;font-family:'Billabong'")
            | Views
            |     
            i.fa.fa-eye(style='color:white;font-size:25px')
            |  
            a(href='#likeIt')
              i.fa.fa-trash(style='color:white;font-size:25px')
          a(href='#')
            p(style="color:white;font-family:'Billabong';font-size:25px")
              | Lorem Ipsum
          a(href='#')
            p(style="color:white;font-family:'Billabong';font-size:25px")
              | Lorem Ipsum
          a(href='#')
            p(style="color:white;font-family:'Billabong';font-size:25px")
              | Lorem Ipsum